<html>
<head>
<title>ユーザー情報修正確認</title>
</head>
<body>
<h3><b>確認</b></h3>
<form action="/admin_update_user_data" method="post">
<table border="1">
<tr>
  <th>ID</th>
  <th>苗字</th>
  <th>名前</th>
  <th>メールアドレス</th>
  <th>顔写真</th>
  <th>生年月日</th>
</tr>
<tr>
  <td><?= $userData['user_id'] ?></td>
  <td><?= $userData['last_name'] ?></td>
  <td><?= $userData['first_name'] ?></td>
  <td><?= $userData['mail_address'] ?></td>
  <td><img src="<?=$uploadFile['image_path']?>" width="250" height="250"></td>
  <td><?= $userData['birthday'] ?></td>
</tr>
</table>

<input type="hidden" name="user_id" value="<?=$userData['user_id']?>">
<input type="hidden" name="last_name" value="<?=$userData['last_name']?>">
<input type="hidden" name="first_name" value="<?=$userData['first_name']?>">
<input type="hidden" name="birthday" value="<?=$userData['birthday']?>">
<input type="hidden" name="user_image" value="<?=$uploadFile['user_image']?>">
<input type="hidden" name="mail_address" value="<?=$userData['mail_address']?>">
<button type="submit">更新</button>
</form>
</body>
</html>
