<!DOCTYPE html>
<html>
<head lang="ja">
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>
<form action="/user/signin" method="post">
<p>メールアドレス：<br>
<input type="text" name="mail_address" value=""></p>
<p>パスワード：<br>
<input type="password" name="password"></p>
<?php if (!isset($accountLock) || $accountLock === false){ ?>
<button type="submit">ログイン</button>
</form>
<?php } ?>
<?php if (!empty($errorMessage)): ?>
・<font color="red"><?=$errorMessage?></font>
<br>
<?php endif; ?>
</body>
</html>
