<!DOCTYPE html>
<html>
<head lang="ja">
<meta charset="UTF-8">
<title>todoist</title>
<link rel="icon" href="http://os3-385-25562.vs.sakura.ne.jp/image/favicon.ico">
<link rel="stylesheet" type="text/css" href="/css/top.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<!-- Rakuten Web Services Attribution Snippet FROM HERE -->
<a href="https://webservice.rakuten.co.jp/" target="_blank"><img src="https://webservice.rakuten.co.jp/img/credit/200709/credit_31130.gif" border="0" alt="楽天ウェブサービスセンター" title="楽天ウェブサービスセンター" width="311" height="30"/></a>
<!-- Rakuten Web Services Attribution Snippet TO HERE -->
<div class="header">
  <div class="td-brand">
    <img alt="reiwa" src="http://os3-385-25562.vs.sakura.ne.jp/image/reiwa_happy.png" width="100" height="100">
  </div>
  <div class="td-header__action-holder">
    <ul class="header__actions">
    <?php if (empty($_SESSION['user_name'])) { ?>
      <li class="header__action">
        <a href="/signin">ログイン</a>
      </li>
      <li class="header__action">
        <a href="/signup">サインアップ</a>
      </li>
    <?php } else { ?>
    <li class="header__action">
        <a href="/user/logout">ログアウト</a>
      </li>
    <?php } ?>
    </ul>
  </div>
</div>

<?php if (!empty($_SESSION['user_name'])) { ?>
<b><?=$_SESSION['user_name']?></b>さんようこそ
<br>
<a href="/mypage/<?=$_SESSION['user_id']?>">マイページ</a>
<a href="/calendar">カレンダー</a>
2019/3/20　始動
<p id="RealTimeClockArea"></p>
<?php } ?>
<p id="LimitTimeArea"></p>
<br>
<form action="/search_book" method="post">
本検索（売上順）
<input type="text" name="author">
<button type="submit">検索</button>
</form>
<br>
<a href="/admin_signin">管理者ログイン</a>
<script type="text/javascript" src="/js/top.js"></script>
<script type="text/javascript" src="/js/jquery.js"></script>
</body>
</html>
